body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Fix document outline in the right sidebar from overflowing off the page.
 *
 * See: <https://github.com/jupyter-book/myst-theme/pull/665>
 */
[aria-label="Document Outline"] {
  max-height: calc(100vh - 100px) !important;
}
